html {
  background-color: #a8d0e3;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

canvas {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

h1, h2, p {
  margin: 5px 0;
}

.hidden {
  display: none;
}

#header {
  display: inline-block;
  margin-right: 10px;
}

#form-profile {
  display: inline-block;
  margin-right: 30px;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
}

#handle {
  background-color: #c0deed;
  border: 1px solid #888;
  height: 22px;
  width: 190px;
  font-size: 18px;
  line-height: 1;
  vertical-align: top;
}

#form-profile span {
  font-size: 18px;
  font-weight: bold;
}

#form-profile input[type="submit"]{
  background-color: #8ec1da;
  border: 1px solid #888;
  height: 26px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}

#timer, #shutter {
  border: none;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: red;
  cursor: pointer;
}

#timer {
  background: url(timer.png);
}

#shutter {
  background: url(shutter.png);
}

#container {
  margin: 0 auto;
  width: 1045px;
}

#live {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile {
  position: relative;
  width: 520px;
  height: 260px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://twimg0-a.akamaihd.net/a/1359591489/t1/img/grey_header_web.png);
}

#header img, #photo img {
  background-color: #ddd;
}

.info {
  position: absolute;  
  width: 520px;
  height: 260px;
  top: 0;
  left: 0;
}

.info .overlay {
  position: absolute;
  width: 520px;
  height: 200px;
  bottom: 0;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.55) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.55)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.55) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.55) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.55) 100%);
}

.info .picture {
  position: relative;
  margin: 20px auto 6px;
  display: block;
  width: 73px;
  height: 73px;
  border: 4px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  overflow: hidden;
}

.info .details {
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  width: 86%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  margin: auto;
  float: none;
  position: relative;
  color: #fff;
}

.details .fullname {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 2px 0;
  text-rendering: optimizeLegibility;
}

.details .username {
  margin: 0 0 1px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.details .bio {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 4px 0;
  word-wrap: break-word;
}

.details .location {
  line-height: 18px;
  margin: 0;
}

.module {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 13px;
}

#photo img {
  margin-bottom: 187px;
}

#footer {
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
}
